body {
	height: 100%;
	padding-top: 90px;
	font-family: 'Poppins', sans-serif;
}
* {
	border-radius: 0;
}
.navbar {
	display: inline-block;
	height: 70px;
	background-color: white;
	background-image: none;
/*	overflow: hidden;
*/}
.header-link {
	margin-top: 11px;
	color: black !important;
}
.header-link:hover {
	color: #9a6f9a !important;
}
ul li {
 	display: inline;
  	float: right;
  	padding-right: 0px;
}
ul li a{
	text-decoration: none;
	color: black;
  	font-size: 13px;
}
ul li a:hover{
	color: #e65c00;
}