<!DOCTYPE html> 
<html>
<head>
	<title>browse</title>

	<link rel = "stylesheet" type = "text/css" href = ../static/styles/Style.css?q=1280549780"> 
	<link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src ="script.js"></script>

</head>
<body>

	<script>
	document.getElementById("demo").innerHTML = "Hello JavaScript!";
	</script>

	<h3 style="color: grey"> Browse Events </h3>

	<div id = "sidebar" style="width: 140px; height:100vmax; background-color: transparent; position: fixed; border-style: solid; border-left: thick #000000; border-top: none; top: -0px;">

		<p> search by </p>

		<div class="dropdown">
			<button class="dropbtn">Categories</button>
			<div id="myDropdown" class="dropdown-content">
				{% for category in categories%}
				<a href="#"> {{category}} </a>
				{% endfor %}
				<a href ="javascript:get_cat_url('Academic');"> Academic  </a>
				<a href ="javascript:get_cat_url('Arts and Theatre');"> Arts and Theatre  </a>
				<a href ="javascript:get_cat_url('Family');"> Family  </a>
				<a href ="javascript:get_cat_url('Government');"> Government</a>
				<a href ="javascript:get_cat_url('Health and Wellness');"> Health and Wellness </a>
				<a href ="javascript:get_cat_url('Holiday');"> Holiday </a>
				<a href ="javascript:get_cat_url('Home and Lifestyle');"> Home and Lifestyle </a>
				<a href ="javascript:get_cat_url('Music');"> Music </a>
				<a href ="javascript:get_cat_url('Outdoors');"> Outdoors </a>
				<a href ="javascript:get_cat_url('Sports');"> Sports </a>
				<a href ="javascript:get_cat_url('Technology');"> Technology </a>
				<a href ="javascript:get_cat_url('Unviversity');"> Unviversity</a>
				<a href ="javascript:get_cat_url('Other');"> Other</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">Event Type</button>	
			<div id="myDropdown-type" class="dropdown-content">
				{% for type in types%}
				<a href =#> {{type}} </a>
				{% endfor %}
			</div>
		</div>	
	</div>

	<script type="text/javascript">
		function get_cat_url(input){
			var getUrl = window.location;
			var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
			var theUrl = baseUrl.slice(0, -6);
			// var url = window.location.href;
			window.location = theUrl.concat(input);
		}
	</script>



</body>
</html>
