<!DOCTYPE html> 
<html>
<head>
	<title>browse</title>

	<link rel = "stylesheet" type = "text/css" href = ../static/styles/Style.css?q=1280549780"> 
	<link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src ="script.js"></script>

</head>
<body>

	<script>
	document.getElementById("demo").innerHTML = "Hello JavaScript!";
	</script>

	<h3 style="color: grey"> Browse Events </h3>

	<div id = "sidebar" style="width: 140px; height:100vmax; background-color: transparent; position: fixed; border-style: solid; border-left: thick #000000; border-top: none; top: -0px;">

		<p> search by </p>

		<div class="dropdown">
			<button class="dropbtn">Categories</button>
			<div id="myDropdown" class="dropdown-content">
				{% for category, url in categories%}
					<!-- still need to figure out how to use relative paths -->
					<a href="browse/category/{{url}}">{{category}}</a>
				{% endfor %}
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">Event Type</button>	
			<div id="myDropdown-type" class="dropdown-content">
				{% for type, url in types%}
					<!-- still need to figure out how to use relative paths -->
					<a href ="browse/type/{{url}}"> {{type}} </a>
				{% endfor %}
				<a href ="javascript:get_cat_url('Charity);"></a>
				<a href ="javascript:get_cat_url('Concerts');"></a>
				<a href ="javascript:get_cat_url('Other');"></a>
				<a href ="javascript:get_cat_url('Other');"></a>
				<a href ="javascript:get_cat_url('Other');"></a>
				<a href ="javascript:get_cat_url('Other');">Other</a>
			</div>
		</div>	
	</div>
</body>
</html>
