{% extends 'navbar.html' %}

{% block title %} - Browse Communities{% endblock %}

{% block stylesheets %}
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/events.css') }}"> 
{% endblock %}


{% block content %}


<ul class="nav navbar-nav">
        	<li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          	<ul class="dropdown-menu">
            	{% for category,url in categories %}
            	<li><a href="/communities/category/{{ url }}">{{ category }}</a></li>
		
            	{% endfor %}
          	</ul>
        	</li>
      	</ul>

{% if logged_in == 1 %}

<div class="container">
	<h2>Your Communities</h2>
	{% if my_communities|length > 0 %}
	<div class="row">
		<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
			<ul class="community-list">
				{% for mycommunity in my_communities %}
					<a href="/communities/communityid/{{mycommunity.cid}}" class="list-group-item">{{mycommunity.name}}</a>
					<a class="btn btn-primary btn-sm" href="/communities/deletefromlist/{{mycommunity.cid}}">Leave Community</a>
					<p></p>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% else %}
	<p style="text-align: center; font-family: 'Lato', sans-serif; font-size: 200%; font-weight: bold;"> No Community Found</p>
	{% endif %}
</div>

<div class="container">
	<h2>Communities that you can join</h2>
	{% if notmycommunities|length > 0 %}
	<div class="row">
		<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
			<ul class="community-list">
				{% for notcommunity in notmycommunities %}
					<a href="/communities/communityid/{{notcommunity.cid}}" class="list-group-item">{{notcommunity.name}}</a>
					<a class="btn btn-primary btn-sm" href="/communities/addfromlist/{{notcommunity.cid}}">Join Community</a>
					<p></p>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% else %}
	<p style="text-align: center; font-family: 'Lato', sans-serif; font-size: 200%; font-weight: bold;"> No Community Found</p>
	{% endif %}
</div>

{% else %}

<div class="container">
	<h2>Communities</h2>
	{% if communities|length > 0 %}
	<div class="row">
		<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
			<ul class="community-list">
				{% for community in communities %}
					<a href="/communities/communityid/{{community.cid}}" class="list-group-item">{{community.name}}</a>
					
					<p></p>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% else %}
	<p style="text-align: center; font-family: 'Lato', sans-serif; font-size: 200%; font-weight: bold;"> No Community Found</p>
	{% endif %}
</div>
{% endif %}
{% endblock %}
