{% extends 'navbar.html' %}
{% block stylesheets %}
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/events.css') }}"> 
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/Style.css') }}"> 
{% endblock %}

{% block content %}
{% for e in event %}
<div class="container-fluid" style = "padding: 0; margin-top: -20px">
    <div class="row">
        <div class="col-xs-7 row" style = "background: white; height: 88vh; overflow: scroll">
            <div style = "width: 90%; margin-left: 7%; margin-right: 7%; margin-bottom: 60px; text-align: center">
                <h2 style = "margin-bottom: 30px"> <b> {{e.title}} </b> </h2>
                <p> {{e.description}} </p>
                {% if already_interested is not none %}
                <br><button class="cu-button" onclick = "window.location = '/browse/eventid/{{e.eid}}/uninterested'" style = "margin-bottom: 30px"> Uninterested</button>
                {% else %}
                <br><button class="cu-button" onclick ="window.location= '/browse/eventid/{{e.eid}}/interested'" style = "margin-bottom: 30px"> Interested</button>
                {% endif %}
               <!--  <p class = "desc" style="font-weight: bold; font-size: 16px">Date:</p> -->
                <div class = "date" style = "font-size: 20px; margin-bottom: 30px">
                    <span class="month">{{ e.startDate.month|month }}</span>
                    {% if e.startDate.day == e.endDate.day or e.endDate is none%}
                        <span class="day">{{ e.startDate.day }}</span>
                    {% else %}
                        <span class="day">{{ e.startDate.day}} - {{e.endDate.day }}</span>
                    {% endif %}
                    <span class="year">{{ e.startDate.year }}<br></span>
                    <span class="dayrange" padding-top="5px">
                    {% if e.endTime is not none %}
                        {{e.startTime}}-{{e.endTime}}<br></span>
                    {% else %}
                        {{e.startTime}}<br></span>
                    {% endif %}
                </div>
                <div class = "location" style = "font-size: 18px; margin-bottom: 25px">
                    <p class = "desc">{% if e.building %}{{ e.building }}<br>{% endif %}
                    {{e.addrAndStreet}},<br> {{e.city}}, IL, {{e.zipcode}}</p>
                </div>
                {% if e.lowPrice and e.highPrice %}
                    {% if e.lowPrice < e.highPrice %}
                    <div class = "price" style = "font-size: 16px; margin-bottom: 30px">
                        <span class ="desc">Price: ${{e.lowPrice}} - ${{e.highPrice}}</span>
                    </div>
                    {% else %}
                    <div class = "price" style = "font-size: 16px; margin-bottom: 30px">
                        <span class ="desc">${{e.lowPrice|money}}</span>
                    </div>
                    {% endif %} 
                {% else %}
                <div class = "price" style = "font-size: 16px;margin-bottom: 30px">
                    <span class = "desc" style="font-weight: bold;">Price: </span>
                    <span class = "desc">Not Available</span>
                </div>
                {% endif %}
                <p style = "margin-bottom: 5px; font-size: 16px"><span style="font-weight: bold; font-size: 16px;">Categories: </span>{{ cats }}</p>
                <p style = "margin-bottom: 25px; font-size: 16px"><span style="font-weight: bold; font-size: 16px;">Event Types: </span>{{ types }}</p>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-12 row" style = "background: white; height: 44vh; float: right; padding: 0; margin: 0">
                    <img src="http://az616578.vo.msecnd.net/files/2016/12/06/636165832047568432-633312792_mrt%20interior.jpg" style = "width: 100%; height: 100%">
                </div>
                <div class="col-xs-12 row" style = "background: white; height: 44vh; float: right; padding: 0; margin: 0">
                    {% if googlelocfilter(e.building,e.addrAndStreet,e.city,e.zipcode) != "" %}
                    <iframe width="100%" height="350" frameborder="0" scrolling="no"    marginheight="0" marginwidth="0" src='{{ googlelocfilter(e.building,e.addrAndStreet,e.city,e.zipcode) }}'></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
