{% extends 'navbar.html' %}

{% block stylesheets %}
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/events.css') }}"> 
{% endblock %}
{% block content %}
<div class = "container">
	{% if event|length > 0 %}
	<div class = "block">
		<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
			<ul class="event-list">
				{% for e in event %}
				<li onclick="location.href='#';">
					<time datetime="{{ e.startDate }}">
						{% if e.startDate.day == e.endDate.day %}
						<span class="day">{{ e.startDate.day }}<br></span>
						{% else %}
						<span class="dayrange">{{ e.startDate.day}} - {{e.endDate.day }}</span>
						{% endif %}
						<span class="month">{{ e.startDate.month|month }}</span>
						<span class="year">{{ e.startDate.year }}</span>
						<span class="dayrange" padding-top="5px">{{e.endTime}} </span>
					</time>
					<div class="info">
						<h2 class="title">{{ e.title }}</h2>
						<p class="desc">{% if e.building %}{{ e.building }}{% endif %} </p>	
						<p class = "desc"> {{e.addrAndStreet}}, {{e.city}}, IL, {{e.zipcode}}</p>
					</div>
					<div class="info" margin-top="105px">
						{% if e.description %}
						<p class = "desc">Event Overview:{{e.description}}</p>
						{% endif %}
						{% if e.lowPrice and e.highPrice %}
							{% if e.lowPrice < e.highPrice %}
							<p class ="desc"><br>Price: ${{e.lowPrice}} - ${{e.highPrice}}</p>
							{% else %}
							<p class ="desc"><br> ${{e.lowPrice|money}}</p>
							{% endif %} 
						{% else %}
						<p class = "desc"> <br>Price: Not Available </p>
						<button type="button"> Interested </button>
						{% endif %}
					</div>

				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% else %}
	<p style="text-align: center; font-family: 'Lato', sans-serif; font-size: 200%; font-weight: bold;"> Invalid Event</p>
	{% endif %}
</div>
{% endblock %}