<html>
  <head>
    <title>CU-EVENTS</title>
  </head>
  	{% for event in events %}
  		<div>
  			<h1>{{ event.name }}</h1>
  			<p>Description: {{ event.description }} </p>
  			<p>Building: {{ event.building }} </p>
  			<p>Location:: {{ event.streetAndAddr }} {{ event.city }}, IL {{ event.zipcode }} </p>
  			<p>Start: {{ event.startDate }} {{ event.startTime }} </p>
  			<p>End: {{ event.endDate }} {{ event.endTime }} </p>
  			<p>Price: {{ event.lowPrice }} - {{ event.highPrice }} </p>
  			<p>Views: {{ event.nonUserViews }} </p>

  		</div>
  	{% endfor %}
  </body>

</html>
