<!DOCTYPE html> 
<html>
<head>
	<title>eventcreate</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/styles/Style.css"> 
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
</head>
<body>
 <form action="/index">
      <input style ="float: right; padding-right: 15px; padding-bottom: 15px" type="submit" value="home"/>
 </form>


<form action = "/eventcreate" method = "POST">
	<h3> Create an Event </h3>
	{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
	{% endif %}
	<div class = "event_describe">
		<input id = 'id' type='text' name='id' value='{{prefill.id}}' style="visibility:hidden;position:absolute;">
		<p class = "required"> <label for "title"> Event title </label> </p>
		<input id = "title" type="text" name="title" value="{{prefill.title}}" placeholder="title">
	</div>
	<div class = "event_describe">
		<p> <label for "description"> Event description </label></p>
		<textarea name="description" cols="40" rows="5">{{prefill.description}}</textarea>
	</div>
	<div class = "event_describe">
		<p class = required> Location </p>
		<label for "building"> <input id = "building" type="text" name="building" value='{{prefill.building}}' placeholder="venue name"></label>
		<label for "addrAndStreet"><input id = "addrAndStreet" type="text" name="addrAndStreet" value='{{prefill.addrAndStreet}}' placeholder="address"></label>
		<label for "city"><input id = "city" type="text" name="city" value='{{prefill.city}}'placeholder="city"></label>
		<label for "state"><input id = "state" type="text" name="state" value="Illinois" placeholder="state"></label>
		<label for "zipcode"><input id = "zipcode" type="text" name="zipcode" value='{{prefill.zipcode}}' placeholder="zip/postal"></label>

	</div>
	<div class = "event_describe">
		<p class = "required"> Starts </p> 
		<label for "startDate"><input id = "startDate" type="text" name="startDate" value='{{prefill.startDate}}' placeholder="yyyy-mm-dd"> </label> 
		<label for "startTime"><input id = "startTime" type="text" name="startTime" value='{{prefill.startTime}}' placeholder="hh:mm:ss"> </label> 
	</div>
	<div class = "event_describe">
		<p class = "required"> Ends </p>
		<label for "endDate"><input id = "endDate" type="text" name="endDate" value='{{prefill.endDate}}' placeholder="yyyy-mm-dd"> </label> 
		<label for "endTime"><input id = "endTime" type="text" name="endTime" value='{{prefill.endTime}}' placeholder="hh:mm:ss"> </label> 
	</div>
	<div class = "event_describe">
		<p class = "required"> Price </p>
		<label for "lowPrice"><input id = "lowPrice" type="text" name="lowPrice" value='{{prefill.lowPrice}}' placeholder="low price"></label>
		<label for "highPrice"><input id = "highPrice" type="text" name="highPrice" value='{{prefill.highPrice}}' placeholder="high price"></label>
	</div>
	<!--
	<div class = "event_describe">
		<p> Upload a photo for your event </p>
		<form action="/action_page.php">
			<input type="file" name="pic" accept="image/*">
 	    	<input type="submit">
		</form>
	</div>
	-->
	<div class = "event_describe">
		<p> Select a category and type for your event </p>
		<div>
		<p> category </p>
			<label for "category">
			<select id = "category" name = "category">
			{% for category in categories %}
				{% if category == prefill_types.category %}
				<option value="{{category}}" selected='selected'>{{category}}</option>
				{% else %}
				<option value="{{category}}">{{category}}</option>
				{% endif %}
			{% endfor %}
			</select>
			</label>
		</div>
		<div style="float: left">
		<p> event type </p>
			<label for "eventtype">
			<select id = "eventtype" name = "eventtype">
			{% for event_type in event_types %}
				{% if event_type == prefill_types.eventtype %}
				<option value="{{event_type}}" selected='selected'>{{event_type}}</option>
				{% else %}
				<option value="{{event_type}}">{{event_type}}</option>
				{% endif %}
			{% endfor %}
			</select>
			</label>
		</div>
	</div>
	<div style = "width: 70px; margin:0 auto; padding-bottom: 40px">
		<input type="submit" value="create event">
	</div>
</form>

</body>
</html>
