<!DOCTYPE html> 
<html>
<head>
	<title>eventcreate</title>
	<link rel = "stylesheet" type = "text/css" href = "static/styles/Style.css"> 
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
</head>
<body>
	<h3> Create an Event </h3>
	<div class = "event_describe">
		<p class = "required"> Event title </p>
		<input id = "title" type="text" name="title" placeholder="title">
	</div>
	<div class = "event_describe">
		<p> Event description </p>
		<textarea name="Text1" cols="40" rows="5"></textarea>
	</div>
	<div class = "event_describe">
		<p class = required> Location </p>
		<input id = "venue_type" type="text" name="location" placeholder="venue name">	
		<input id = "address" type="text" name="location" placeholder="address">	
		<input id = "city" type="text" name="location" placeholder="city">
		<input id = "state" type="text" name="location" placeholder="state">
		<input id = "zip/postal" type="text" name="location" placeholder="zip/postal">
	</div>
	<div class = "event_describe">
		<p class = "required"> Starts </p> 
		<input id = "month" type="text" name="starttime" placeholder="mm"> /
		<input id = "date" type="text" name="starttime" placeholder="dd"> /
		<input id = "year" type="text" name="starttime" placeholder="yyyy">
		<input id = "time" type="text" name="starttime" placeholder="00:00">
	</div>
	<div class = "event_describe">
		<p class = "required"> Ends </p>
		<input id = "month" type="text" name="endtime" placeholder="mm"> /
		<input id = "date" type="text" name="endtime" placeholder="dd"> /
		<input id = "year" type="text" name="endtime" placeholder="yyyy">
		<input id = "time" type="text" name="endtime" placeholder="00:00">
	</div>
	<div class = "event_describe">
		<p class = "required"> Price </p>
		<input id = "price" type="text" name="price" placeholder="price">
	</div>
	<div class = "event_describe">
		<p> Upload a photo for your event </p>
		<form action="/action_page.php">
			<input type="file" name="pic" accept="image/*">
 	    	<input type="submit">
		</form>
	</div>
	<div class = "event_describe">
		<p> Select a category and type for your event </p>
		<div>
		<p> category </p>
			<select id = "category">
				<option value="music">music</option>
	  			<option value="sports">sports</option>
	  			<option value="theatre">theatre</option>
	  			<option value="tech">tech</option>
			</select>
		</div>
		<div style="float: left">
		<p> event type </p>
			<select id = "category">
				<option value="class">class</option>
	  			<option value="performance">performance</option>
	  			<option value="concert">concert</option>
	  			<option value="presentation">presentation</option>
			</select>
		</div>
	</div>
	<div style = "width: 70px; margin:0 auto; padding-bottom: 40px">
		<input type="submit" value="Submit">
	</div>
	

</body>
</html>