{% extends 'navbar.html' %}

{% block stylesheets %}
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/events.css') }}"> 

{% endblock %}

{% block content %}

<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->


  <ul class="nav navbar-nav">
        	<li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          	<ul class="dropdown-menu">
            	{% for category,url in categories %}
            	<li><a href="/browse/category/{{ url }}">{{ category }}</a></li>
            	{% endfor %}
          	</ul>
        	</li>
			<li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Event Types <span class="caret"></span></a>
          	<ul class="dropdown-menu">
            	{% for type,url in event_types %}
            	<li><a href="/browse/type/{{ url }}">{{ type }}</a></li>
            	{% endfor %}
          	</ul>
        	</li>
      	</ul>

<div class="container">
	{% if events|length > 0 %}
	<div class="row">
		<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
			<ul class="event-list">
				{% for event in events %}
				<li onclick="location.href='/browse/eventid/{{event.eid}}';">
					<time datetime="{{ event.startDate }}">
						<span class="day">{{ event.startDate.day }}</span>
						<span class="month">{{ event.startDate.month|month }}</span>
						<span class="year">{{ event.startDate.year }}</span>
						<!-- <span class="time"></span> -->
					</time>
					<div class="info">
						<h2 class="title">{{ event.title }}</h2>
						<p class="desc">{% if event.building %}{{ event.building }}{% endif %}</p>
						{% if event.lowPrice and event.highPrice %}
						<ul>
							{% if event.lowPrice < event.highPrice %}
							<li style="width:50%;"><span class="fa fa-money"></span> {{event.lowPrice|money}} - {{event.highPrice|money}}</li>
							{% else %}
							<li style="width:50%;"><span class="fa fa-money"></span> {{event.lowPrice|money}}</li>
							{% endif %}
							 
						</ul>
						{% endif %}
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="text-center">
		{{ pagination.links }}
	</div>
	{% else %}
	<p style="text-align: center; font-family: 'Amiko', sans-serif;; font-size: 200%; font-weight: bold;"> No Events Found</p>
	{% endif %}
</div>
{% endblock %}
