{% extends "navbar.html" %}

{% block stylesheets %}
<!--
<link rel = "stylesheet" type = "text/css" href = ../static/styles/Style.css>
<link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
-->
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/index.css') }}"> 
{% endblock %}

{% block content %}

<!-- 
<head>
	<title>CU-EVENTS</title>
</head>
-->

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-centered">
			<p id = "description"> Search for, discover, and create events in the Champaign-Urbana area</p>
		</div>
	</div>
	<div class="row">
		<div class="input-group col-sm-6 col-centered">
			<!-- <input id = "autocomplete" type="text" name="search" placeholder="Search for.."> -->
			<div class="form-group">
        		<input type="text" id="autocomplete" class="form-control" placeholder="Search">
    		</div>
			<span class="input-group-btn"> 
    			<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    		</span>
    	</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<!-- 
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/jquery.autocomplete.js"></script>
-->
<script type="text/javascript">
      var auto_event = $( "#autocomplete" ).autocomplete({
      source: ["hello", "this", "is", "a", "test"]
      messages: {
        noResults: '',
      }
      });
 </script>
{% endblock %}
