{% extends "navbar.html" %}

{% block content %}

<head>
	<title>CU-EVENTS</title>
	<link rel = "stylesheet" type = "text/css" href = ../static/styles/Style.css> 
	<link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="js/jquery.autocomplete.js"></script>
</head>

<p id = "description"> Search for, discover, and create events in the Champaign-Urbana area</p>


<div id="wrapper">
  <input id = "autocomplete" type="text" name="search" placeholder="Search for.."> 
</div>


 <script>
      var auto_event = $( "#autocomplete" ).autocomplete({
      source: ["hello", "this", "is", "a", "test"]
      messages: {
        noResults: '',
      }
      });
 </script>

{% endblock %}