<!DOCTYPE html> 
<html>
<head>
	<title>SignUp</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/styles/Style.css"> 
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
</head>
<body>
	<h3> Create a new Account </h3>

	<input id = "username" type="text" name="username" placeholder="username">
	<input id = "password" type="text" name="password" placeholder="password">
	<p> select all that interest you </p>
	<p> list categories here </p>
	<input type="submit" value="sign up">

</body>
</html>