
{% extends 'navbar.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"/>
{% endblock %}

<!-- <!DOCTYPE html> 
<html>
<head>
	<title>SignUp</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/styles/Style.css"> 
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
</head>
<body> -->


{% block content %}
  <!-- <h2 style="">Sign up</h2> -->
     
    {% for message in form.firstname.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.lastname.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.username.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}


    {% for message in form.confirm_password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

<div class="container">
    <div id="legend">
        <legend class="" style="text-align: center; padding-bottom: 40px; ">Sign Up</legend>
    </div>
  <form action="{{ url_for('sign_up') }}" method=post>

    <div class="form-group row">
      <label for="firstname" class="col-sm-2 col-form-label">firstname</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="firstname" name="firstname" value="{% if form.firstname.data%}{{form.firstname.data}}{% endif %}" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="lastname" class="col-sm-2 col-form-label">lastname</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="lastname" name="lastname" value="{% if form.lastname.data%}{{form.lastname.data}}{% endif %}" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="lastname" class="col-sm-2 col-form-label">username</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="username" name="username" value="{% if form.username.data%}{{form.username.data}}{% endif %}" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="lastname" class="col-sm-2 col-form-label">email</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="email" name="email" value="{% if form.email.data%}{{form.email.data}}{% endif %}" placeholder="">
      </div>
    </div> 

    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">password</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" id="password" name="password" value="{% if form.password.data%}{{form.password.data}}{% endif %}" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="confirm_password" class="col-sm-2 col-form-label">confirm password</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{% if form.confirm_password.data%}{{form.confirm_password.data}}{% endif %}" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </div>


<!--     
    {{ form.firstname.label }}
    {{ form.firstname }} -->
     
<!--     {{ form.lastname.label }}
    {{ form.lastname }} -->

<!--     {{ form.username.label }}
    {{ form.username }}

    {{ form.email.label }}
    {{ form.email }}
     
    {{ form.password.label }}
    {{ form.password }}

    {{ form.confirm_password.label }}
    {{ form.confirm_password }}
      --><!-- 
    {{ form.submit }} -->
  </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function() {
        $('#datetimepicker1').datetimepicker();
    });
</script>
<script type="text/javascript">
  $(function() {
        $('#datetimepicker2').datetimepicker();
    });
</script>
{% endblock %}

<!--    <form action="/index">
      <input style ="float: right; padding-right: 15px; padding-bottom: 15px" type="submit" value="home"/>
    </form>

	<h3> Create a new Account </h3>

	<input id = "username" type="text" name="username" placeholder="username">
	<input id = "password" type="password" name="password" placeholder="password">
	<p> select all that interest you </p>
	<p> catergories: </p>

<p>
  <input type="checkbox" id="cbox1" value="Music">
  <label for="cbox1">Music</label>
</p>

<p>
  <input type="checkbox" id="cbox2" value="Sports">
  <label for="cbox2">Sports</label>
</p>

<p>
  <input type="checkbox" id="cbox3" value="Academic">
  <label for="cbox3">Academic</label>
</p>

<p>
  <input type="checkbox" id="cbox4" value="Technology">
  <label for="cbox4">Technology</label>
</p>

<p>
  <input type="checkbox" id="cbox5" value="Family">
  <label for="cbox5">Family</label>
</p>

<p>
  <input type="checkbox" id="cbox6" value="Health and Wellness">
  <label for="cbox6">Health and Wellness</label>
</p>

<p>
  <input type="checkbox" id="cbox7" value="Outdoors">
  <label for="cbox7">Outdoors</label>
</p>

<p>
  <input type="checkbox" id="cbox8" value="University">
  <label for="cbox8">University</label>
</p>

<p>
  <input type="checkbox" id="cbox9" value="Arts and Theatre">
  <label for="cbox9">Arts and Theatre</label>
</p>

<p>
  <input type="checkbox" id="cbox10" value="Holiday">
  <label for="cbox10">Holiday</label>
</p>

<p>
  <input type="checkbox" id="cbox11" value="Government">
  <label for="cbox11">Government</label>
</p>

<p>
  <input type="checkbox" id="cbox12" value="Home and Lifestyle">
  <label for="cbox12">Home and Lifestyle</label>
</p>

<p>
  <input type="checkbox" id="cbox13" value="Other">
  <label for="cbox13">Other</label>
</p>

<p> Event types: </p>

<p>
  <input type="checkbox" id="cbox14" value="Concerts">
  <label for="cbox14">Concerts</label>
</p>

<p>
  <input type="checkbox" id="cbox15" value="Conferences">
  <label for="cbox15">Conferences</label>
</p>

<p>
  <input type="checkbox" id="cbox16" value="Talks">
  <label for="cbox16">Talk</label>
</p>

<p>
  <input type="checkbox" id="cbox17" value="Networking and Career Fairs">
  <label for="cbox17">Networking and Career Fairs</label>
</p>

<p>
  <input type="checkbox" id="cbox18" value="Galleries and Exhibits">
  <label for="cbox18">Galleries and Exhibits</label>
</p>

<p>
  <input type="checkbox" id="cbox19" value="Charity">
  <label for="cbox19">Charity</label>
</p>

<p>
  <input type="checkbox" id="cbox20" value="Festivals and Fairs">
  <label for="cbox20">Festivals and Fairs</label>
</p>

<p>
  <input type="checkbox" id="cbox21" value="Other">
  <label for="cbox21">Other</label>
</p>

<form>
    <button formaction="file:///home/dev/411project/CU-Events/app/templates/signUpSuccess.html">Sign up</button>
</form>
 -->
	
	<!--<input type="submit" value="sign up">-->

<!-- </body>
</html>
 -->