{% extends 'navbar.html' %}

{% block title %} - Sign Up{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"/>
{% endblock %}

{% block content %}
	<!-- <h2 style="">Sign up</h2> -->
     
	{% for message in form.firstname.errors %}
		<div class="flash">{{ message }}</div>
	{% endfor %}

	{% for message in form.lastname.errors %}
		<div class="flash">{{ message }}</div>
	{% endfor %}

    {% for message in form.username.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}


    {% for message in form.confirm_password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

	<div class="container">
		<div id="legend">
			<legend class="" style="text-align: center; padding-bottom: 40px; ">Sign Up</legend>
		</div>
		<form action="{{ url_for('sign_up') }}" method=post>
			<div class="form-group row">
				{{ form.firstname.label(class="col-sm-2 col-form-label") }}
				<div class="col-sm-6">
					{{ form.firstname(class="form-control") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.lastname.label(class="col-sm-2 col-form-label") }}
				<div class="col-sm-6">
					{{ form.lastname(class="form-control") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.username.label(class="col-sm-2 col-form-label") }}
				<div class="col-sm-6">
					{{ form.username(class="form-control") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.email.label(class="col-sm-2 col-form-label") }}
				<div class="col-sm-6">
					{{ form.email(class="form-control") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.password.label(class="col-sm-2 col-form-label") }}
				<div class="col-sm-6">
					{{ form.password(class="form-control") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.confirm_password.label(class="col-sm-2 col-form-label") }}
				<div class="col-sm-6">
					{{ form.confirm_password(class="form-control") }}
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
				{{ form.submit(class="btn btn-primary") }}
				</div>
			</div>
	</form>
	</div>
{% endblock %}
