<!DOCTYPE html> 
<html>
<head>
	<title>SignUp</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/styles/Style.css"> 
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
</head>
<body>


{% block content %}
  <h2>Sign up</h2>
     
    {% for message in form.firstname.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.lastname.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.username.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

  <form action="{{ url_for('sign_up') }}" method=post>

    {{ form.firstname.label }}
    {{ form.firstname }}
     
    {{ form.lastname.label }}
    {{ form.lastname }}

    {{ form.username.label }}
    {{ form.username }}
     
    {{ form.password.label }}
    {{ form.password }}
     
    {{ form.submit }}
  </form>
     
{% endblock %}

<!--    <form action="/index">
      <input style ="float: right; padding-right: 15px; padding-bottom: 15px" type="submit" value="home"/>
    </form>

	<h3> Create a new Account </h3>

	<input id = "username" type="text" name="username" placeholder="username">
	<input id = "password" type="password" name="password" placeholder="password">
	<p> select all that interest you </p>
	<p> catergories: </p>

<p>
  <input type="checkbox" id="cbox1" value="Music">
  <label for="cbox1">Music</label>
</p>

<p>
  <input type="checkbox" id="cbox2" value="Sports">
  <label for="cbox2">Sports</label>
</p>

<p>
  <input type="checkbox" id="cbox3" value="Academic">
  <label for="cbox3">Academic</label>
</p>

<p>
  <input type="checkbox" id="cbox4" value="Technology">
  <label for="cbox4">Technology</label>
</p>

<p>
  <input type="checkbox" id="cbox5" value="Family">
  <label for="cbox5">Family</label>
</p>

<p>
  <input type="checkbox" id="cbox6" value="Health and Wellness">
  <label for="cbox6">Health and Wellness</label>
</p>

<p>
  <input type="checkbox" id="cbox7" value="Outdoors">
  <label for="cbox7">Outdoors</label>
</p>

<p>
  <input type="checkbox" id="cbox8" value="University">
  <label for="cbox8">University</label>
</p>

<p>
  <input type="checkbox" id="cbox9" value="Arts and Theatre">
  <label for="cbox9">Arts and Theatre</label>
</p>

<p>
  <input type="checkbox" id="cbox10" value="Holiday">
  <label for="cbox10">Holiday</label>
</p>

<p>
  <input type="checkbox" id="cbox11" value="Government">
  <label for="cbox11">Government</label>
</p>

<p>
  <input type="checkbox" id="cbox12" value="Home and Lifestyle">
  <label for="cbox12">Home and Lifestyle</label>
</p>

<p>
  <input type="checkbox" id="cbox13" value="Other">
  <label for="cbox13">Other</label>
</p>

<p> Event types: </p>

<p>
  <input type="checkbox" id="cbox14" value="Concerts">
  <label for="cbox14">Concerts</label>
</p>

<p>
  <input type="checkbox" id="cbox15" value="Conferences">
  <label for="cbox15">Conferences</label>
</p>

<p>
  <input type="checkbox" id="cbox16" value="Talks">
  <label for="cbox16">Talk</label>
</p>

<p>
  <input type="checkbox" id="cbox17" value="Networking and Career Fairs">
  <label for="cbox17">Networking and Career Fairs</label>
</p>

<p>
  <input type="checkbox" id="cbox18" value="Galleries and Exhibits">
  <label for="cbox18">Galleries and Exhibits</label>
</p>

<p>
  <input type="checkbox" id="cbox19" value="Charity">
  <label for="cbox19">Charity</label>
</p>

<p>
  <input type="checkbox" id="cbox20" value="Festivals and Fairs">
  <label for="cbox20">Festivals and Fairs</label>
</p>

<p>
  <input type="checkbox" id="cbox21" value="Other">
  <label for="cbox21">Other</label>
</p>

<form>
    <button formaction="file:///home/dev/411project/CU-Events/app/templates/signUpSuccess.html">Sign up</button>
</form>
 -->
	
	<!--<input type="submit" value="sign up">-->

</body>
</html>
