<html>
  <head>
    <title>CU-EVENTS</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/styles/Style.css"> 
    <link href= "https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body style=" font-family: 'Amiko', sans-serif;">

 <form action="/index">
      <input style ="float: right; padding-right: 15px; padding-bottom: 15px" type="submit" value="home"/>
    </form>

<div class = "main_"; style="width: 900px; height:100vmax; position: relative; left:
200px;margin: 30px; ">

    {% for event in events %}
    <div style = "width: 450px; height: 300px; background-color: #D3D3D3; position: relative; left: 20px; top: 30px; padding-left: 15px;">
      <h3 style="text-align: center">{{ event.title }} </h3>
      <p>Description: {{ event.description }} </p>
      <p>Building: {{ event.building }} </p>
      <p>Location: {{ event.streetAndAddr }} {{ event.city }}, IL {{ event.zipcode }} </p>
      <p>Start: {{ event.startDate }} {{ event.startTime }} </p>
      <p>End: {{ event.endDate }} {{ event.endTime }} </p>
      <p>Price: {{ event.lowPrice }} - {{ event.highPrice }} </p>
  
        <a href='/eventcreate?id={{event.id}}'>Edit Event</a>
      
      <form action="{{request.path}}", method="post" name="edit">
      	<button id = "btn" name="btn" value = "d{{event.id}}" type = "submit" style ="float: right; border: none; text-align: center; text-decoration: none; background-color: white; margin: 5px">Delete Event</button>
      </form>
    </div>                                                                              
    {% endfor %}

    {% for type in types %}
    <div style ="width: 450px; height: 300px; background-color: #D3D3D3; position: relative; left: 20px; top: 30px; padding-left: 15px;">
      <h3 style="text-align: center">{{ type.name }} </h3>
      <p>Description: {{ type.description }} </p>
      <p>Building: {{ type.building }} </p>
      <p>Location: {{ type.streetAndAddr }} {{ type.city }}, IL {{ type.zipcode }} </p>
      <p>Start: {{ type.startDate }} {{ type.startTime }} </p>
      <p>End: {{ type.endDate }} {{ type.endTime }} </p>
      <p>Price: {{ type.lowPrice }} - {{ type.highPrice }} </p>

    </div>                                                                              
    {% endfor %}

    {% for free in frees %}
    <div style ="width: 450px; height: 300px; background-color: #D3D3D3; position: relative; left: 20px; top: 30px; padding-left: 15px;">
      <h3 style="text-align: center">{{ free.name }} </h3>
      <p>Description: {{ free.description }} </p>
      <p>Building: {{ free.building }} </p>
      <p>Location: {{ free.streetAndAddr }} {{ free.city }}, IL {{ free.zipcode }} </p>
      <p>Start: {{ free.startDate }} {{ free.startTime }} </p>
      <p>End: {{ free.endDate }} {{ free.endTime }} </p>
      <p>Price: {{ free.lowPrice }} - {{ free.highPrice }} </p>
    </div>                                                                              
    {% endfor %}

  </div>

  </body>

</html>
