<html>
  <head>
    <title>CU-EVENTS</title>

    <link rel = "stylesheet" type = "text/css" href = ../static/styles/Style.css?q=1280549780"> 
  <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">

  </head>
  <body style=" font-family: 'Amiko', sans-serif;">
    {% for event in events %}
    <div style = "width: 450px; height: 300px; background-color: #D3D3D3; position: relative; left: 20px; top: 30px; padding-left: 15px;">
      <h3 style="text-align: center">{{ event.name }} </h3>
      <p>Description: {{ event.description }} </p>
      <p>Building: {{ event.building }} </p>
      <p>Location: {{ event.streetAndAddr }} {{ event.city }}, IL {{ event.zipcode }} </p>
      <p>Start: {{ event.startDate }} {{ event.startTime }} </p>
      <p>End: {{ event.endDate }} {{ event.endTime }} </p>
      <p>Price: {{ event.lowPrice }} - {{ event.highPrice }} </p>
    <!--   <p>Views: {{ event.nonUserViews }} </p> -->

    </div>                                                                              
    {% endfor %}

    {% for type in types %}
    <div>
      <h3>EVENT</h3>
      <p>Title: {{ type.name }} </p>
      <p>Description: {{ type.description }} </p>
      <p>Building: {{ type.building }} </p>
      <p>Location:: {{ type.streetAndAddr }} {{ type.city }}, IL {{ type.zipcode }} </p>
      <p>Start: {{ type.startDate }} {{ type.startTime }} </p>
      <p>End: {{ type.endDate }} {{ type.endTime }} </p>
      <p>Price: {{ type.lowPrice }} - {{ type.highPrice }} </p>
    <!--   <p>Views: {{ type.nonUserViews }} </p>
 -->
    </div>                                                                              
    {% endfor %}
  </body>

</html>
